<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        thank you page
    </title>
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class='container'>
        <h1>Thank You For Visiting Our Website <br></h1> 
    </div>
    <div class='container'>
    <p>We appreciate your time and interest in our content.</p>
    </div>
    
    <div class='container'>
        <i>Please login to explore more features &nbsp;<a href="{% url 'login' %}" style="text-decoration: none;">Login</a></i>
    </div>
    
</body>
</html>